form .required::after { 
  content:"*";
  color:blue;
}

div.is-invalid {
  border: 1px solid red;
    border-radius: 5px;
}

input[type="radio"]:focus {
  /* displays outline on radio in chrome after forced focus */
  outline: 2px solid lightskyblue; 
}